* {margin:0;padding:0}

body 
	{ 
	font-family: Arial;
	font-size: 80%;
	padding:2%;
	background-color: #FAFAFA;
	}
/* ----------------------------------- */
#xinner 
	{
	width: 69.2%;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #000;
	background-color: #FAFAFA;
	}
/* ----------------------------------- */
#header 
	{
	padding:8%;
	border-bottom: 1px solid #000;
	background-image:url('images/header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	}
	/* ----------------------------------- */
#menu 
	{
	height: 3%;
	padding:1%;
	border-bottom: 1px solid #000;
	background-color: #EEECEC;
	text-align:center;
	}
/* ----------------------------------- */
#footer 
	{
	height:3%;
	padding:1%;
	border-top: 1px solid #000;
	background-color: #EEECEC;
	text-align:center;
	}
/* ----------------------------------- */
	a:visited {color: #000}
	a:link {color: #000}
	a:hover {color: #000}
	a:active {color: #0247D1}
	a 
	{
	text-decoration: none;
	padding-right : 2%;
	padding-left : 2%;
	}
/* ----------------------------------- */
/*a.activePage
	a.activePage:link {color: white}
	a.activePage:visited {color: blue}
	a.activePage:hover {color: blue}
	a.activePage:active {color: 3BB9FF}*/
	a.activePage 
	{
	text-decoration: none;
	padding-right : 2%;
	padding-left : 2%;
	font-weight: bold;
	color: #F70A12; 
	}
/* ----------------------------------- */
h1 	
	{
	font-size: 200%;
	color: #000;
	font-weight: bold;
	border-bottom: 1px dashed #000;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align:center;
	}
/* ----------------------------------- */
h2	
	{
	font-size: 150%;
	color: #7E7F80;
	font-weight: bold;
	padding-bottom:1%;
	padding-top:1%;
	text-align:center;
	}
/* ----------------------------------- */
p
	{
	padding-left: 11%;
	padding-right: 10%;
	padding-bottom: 1%;
	}
/* ----------------------------------- */
#center
	{
	text-align: center;
	}
/* ----------------------------------- */
img
	{
	padding-right: 35%;
	padding-left : 35%;
	padding-top: 2%;
	padding-bottom: 2%;	
	text-align: center;
	}
/* ----------------------------------- */
#map
	{
	padding: 2%;
	background-position: center;
	background-repeat: no-repeat;
	}
/* ----------------------------------- */
ul
	{
	padding-left: 13%;
	padding-right: 11%;
	padding-bottom: 1%;
	}
/* ----------------------------------- */
#liste
{
	text-align: center;
}
#liste a:visited {color: #0247D1}
#liste a:link {color: #0247D1}
#liste a:hover {color: #0247D1}
#liste a:active {color: #0247D1}
#liste a 
	{
	text-decoration: underline;
	padding-right : 2%;
	padding-left : 2%;
	}
/* ----------------------------------- */