* {margin:0;padding:0}

body 
	{ 
	font-family: Arial;
	font-size: 80%;
	text-align:center;
	padding:2%;
	background-color: #FAFAFA;
	}
/* ----------------------------------- */
#xinner 
	{
	width: 94.8%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #000;
	background-color: #FAFAFA;
	}
/* ----------------------------------- */
#header 
	{
	padding:8%;
	border-bottom: 1px solid #000;
	background-image:url('images/header.jpg');
	background-repeat: no-repeat;
	}
	/* ----------------------------------- */
#menu 
	{
	height: 3%;
	padding:1%;
	border-bottom: 1px solid #000;
	background-color: #FAFAFA;
	}
/* ----------------------------------- */
#footer 
	{
	padding:0.2%;
	height:3%;
	border-top: 1px solid #000;
	background-image:url('images/1.jpg');
	}
/* ----------------------------------- */
div.popup
{
	display:none;
	border:solid 1px transparent;
	padding:8px;
	background-color: transparent;
	top: 18.5%;
	left: 3%;
}
a.popup:hover + div.popup
{
	display:block;
	color: #000;
}
div.popup:hover
{
	display:block;
	color: #000;
}
/* ----------------------------------- */
	a:link {color: #000}
	a:visited {color: #000}
	a:hover {color: blue}
	a:active {color: #000}
	a 
	{
	text-decoration: none;
	cursor: help;
	padding-right : 1%;
	padding-left : 1%;
	}
/* ----------------------------------- */
h1 	
	{
	font-size: 200%;
	color: #000;
	font-weight: bold;
	border-bottom: 1px dashed #000;
	padding-bottom: 1%;
	padding-top: 1%;
	}
/* ----------------------------------- */
h2	
	{
	font-size: 150%;
	color: #7E7F80;
	font-weight: bold;
	padding-top:1%;
	
	}
/* ----------------------------------- */
p
	{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom:1%;
	}
/* ----------------------------------- */
img
	{
	padding-right: 1%;
	padding-left : 1%;
	padding-bottom: 1%;
	}
/* ----------------------------------- */
ul
	{
	padding-bottom: 1%;
	}







